<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Rent Your Car</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{{ url_for('static', filename='img/favicon.png')}}" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ionicons/css/ionicons.min.css')}}">
</head>

<body>
    <header id="header" style="background-color: black">
        <div class="navbar-fixed-top">
            <div id="logo">
                <a href="index.html"><img class="icone" src="{{ url_for('static', filename='img/Logo_branco.nm.png')}}"
                        alt="Logo da Rent Your Car" title="Rent Your Car" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="../index.html#regras">COMO FUNCIONA</a></li>
                    <li><a href="../index.html#garantias">GARANTIAS</a></li>
                    <li class="menu-active"><a href="#estoque">VEÍCULOS DISPONÍVEIS</a></li>
                    <li><a href="../index.html#cadastro">CADASTRE SEU VEÍCULO</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- VEICULOS DISPONIVEIS -->
    <section id="estoque" class="section-bg">
        <div class="container paddTop">
            <header class="section-header">
                <h3 class="section-title">VEÍCULOS PARA LOCAÇÃO</h3>
            </header>
            <div class="row estoque-container">

                {% for car in car %}
                <div class="col-lg-4 col-md-6 estoque-item wow fadeInUp">
                    <div class="estoque-wrap">
                        <figure>
                            <img src="/static/img/{{ car.image}}" class="img-fluid">
                        </figure>
                        <div class="estoque-info">
                            <h4><a href="#"><span>{{car.model}}</span> - <span>{{car.brand}}</span></a></h4>
                            <p><span>{{car.year}}</span> - <strong>R$ <span>{{car.daily}}</span></strong></p>
                            <p><span>{{car.observation}}</span></p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-info">
                        <a href="#intro"><img class="icone"
                                src="{{ url_for('static', filename='img/Logo_branco.nm.png')}}"
                                alt="Logo da Rent Your Car" title="Rent Your Car" /></a>
                        <p>&nbsp;</p>
                        <p class="footer-padd">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque blandit
                            rhoncus odio, nec maximus massa mattis quis.</p>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="ion-ios-arrow-right"></i> <a href="../index.html">HOME</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="../index.html#regras">COMO FUNCIONA</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="../index.html#garantias">GARANTIAS</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-cadastro">
                        <h4>FALE CONOSCO</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 333 <br>
                            Alguma Cidade - Estado<br>
                            Brasil <br>
                            <strong>Telefone:</strong> 41 997195913<br>
                            <strong>contato@rentyourcar.com.br</strong><br>
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>EDITAR VEÍCULOS</h4>
                        <ul>
                            <li><i class="ion-ios-arrow-right"></i> <a href="edit.html">EDITAR VEÍCULOS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Douglas Campos</strong>.
            </div>
            <div class="credits">
            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top"><i class="ion ion-chevron-up"></i></a>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script>
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
                document.getElementById("header").style.background = "rgba(0, 0, 0, 0.7)";
            } else {
                document.getElementById("header").style.background = "black";
            }
        }
    </script>












</body>

</html>